.tabs {margin: 0;padding: 0;width: 100%;clear: both;overflow: hidden;}
  .tab_nodes li{float: left;margin: 5px 20px;list-style: none;}
  .tab_nodes li a{font-size: 15px;font-weight: bold;}
  .tab_nodes li a:hover{color: #0099cc; text-decoration: none;}
  .tab_nodes li.ui-tabs-active a{color: #00a1e1;}
.panelContainer {clear: left;width: 100%;}
.transformer_tabs_wrap > div{display: none;}
.transformer_tabs_wrap > div.active{display: block;}
.transformer_tabs ul.tab_nodes{background: #f1f1f1;padding: 20px 0;margin: 0 0 40px 0;list-style: none;border-radius: 10px 0;}   
.transformer_tabs .tab_nodes li{margin: 5px 10px;display: inline-block; padding: 0;vertical-align: bottom;float: none;}
.transformer_tabs ul.tab_nodes a{font-size: 16px;font-family: "Avenir Heavy", Arial;text-decoration: none;font-weight: normal;display: inline-block;}
.transformer_tabs ul.tab_nodes a.active{position: relative;color: #00a1e1;}